.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: #f4f4f4;
    text-align: center;
    line-height: .10;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
   
}