.cart-wrapper{
    margin-left: 1em;
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.item{
    float: left;
    width: 120px;
    padding: 15px;
    display: inline;
}
.img-wrapper img{
    height: 80px;
    width: 100px;

}

.text-wrapper{
    margin-top: 1em;
}
.btn-wrapper button{
    margin-top: 1em;
    background-color: rgb(38, 35, 35);
    color: white;
    width: 100px;
    box-shadow: gray 1px 1px 5px;
    border-radius: 5px;
    
}
.add-to-cart img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 40px;
}
.add-to-cart span{
    height: 18px;
    width: 15px;
    position: absolute;
    top: 1px;
    right: 40px;
    background-color: crimson;
    color: aliceblue;
    box-shadow: gray 1px 1px 5px;
    border-radius: 5px;
}